form{
    background-color: grey;
    width: 50%;
    padding: 10px;
    color: white;
}
input,select,textarea{
     width: 50%;
     background-color: rgb(54, 53, 53);
     border: 1px solid rgb(54, 53, 53);
     color : white ;
     padding: 5px;   
}
input:focus,
select:focus,
textarea:focus {
    border: 1px solid white ;
    background-color: rgb(105, 104, 104) ;
}
[type="submit"]{
    background-color: rgb(6, 19, 90);
    text-transform: uppercase;
    font-weight: bold;
    width: 20%;
    border: 0;
}

h1{
    text-align: center;
}
label{
    display: block;
}
[type="radio"]{
    display: block;
}
[type="checbox"]{
    display: block;
}